body{
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h3{
    text-align: center;
}

h1{
    background-color: cornflowerblue;
    color: #fff;

}

h3{
    background-color: salmon;
    font-size: 25px;
}