h1{
    text-align: center;
    background-color: salmon;
    color: white;
}

button{
    font-family: "Time New Roman", sans-serif;
    background-color: skyblue;
}

img{
    width: 500px;
    height: auto;
}

