body{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    background-color: salmon;
    color: white;
}

button{
    background-color: skyblue;
    font-size: 20px;
}

img{
    width: 500px;
    height: auto;
}

